.site-header {
  position: relative;
  background: black;
  padding: $padding $padding * 2 0;
  &.legacy {
    &:after {
      content: "LEGACY POST";
      position: absolute;
      top: 45px;
      right: -45px;
      font-size: $paragraph;
      color: $text-ld;
      font-weight: bold;
      background-color: $danger;
      padding: $padding * .5 $padding * 5;
      transform: rotate(45deg);
      box-shadow: 0 0 20px #000;
    }
  }
  h1 {
    margin-top: $margin;
    text-transform: uppercase;
    text-align: center;
    font-size: 7rem;
  }
  a {
    display: block;
    color: $text-ld;
    padding: $padding;
    &:hover {
      background-color: grey;
    }
  }

  nav {
    padding: $padding * 2 0;
    text-align: center;
  }
  li {
    font-size: $paragraph;
    @include bp(m) {
      display: inline-block;
      padding: 0 $margin * 2;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}